body {
    font-family: Arial, sans-serif;
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;     
    background-color: #ddedf0;
    display: flex;
    align-items: center;
    flex-direction: column; 
    background-size: 100% 1200px;
   
}

h1 {
    color: #333;
    font-family: Verdana, Tahoma;
    text-transform: uppercase;
}

p {
   color:rgb(12, 50, 112);
   font-size: large;
}

#subtitulo{
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 5px;   
    max-width: 800px;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 6px 6px 2px 1px rgb(141, 140, 140);
    font-weight: bold;  
    display: none;   
    padding-right: 9rem;
}

.centralize{
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.conteudo{

    background-color: rgb(167, 212, 231); 
    padding: 3rem; 


}